.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgba(187, 255, 0, 0.767);
  padding: 10px;
}

.header{
  padding: 10px;
}

h1 { 
    color: rgba(238, 20, 184, 0.644);
}

h3 { 
  color: rgb(14, 124, 235);
}

body  {
  padding: 10px;
  background-color: rgba(243, 127, 133, 0.164);
}